build/
pybuild/
CMakeFiles/
CMakeCache.txt
compile_commands.json
Testing/
*.so
*.a
*.o
*.obj
*.tar
*.tar.gz
*.gz
*.egg-info/
__pycache__/
.pytest_cache/
.venv/
.env
dist/

build-c/
*.dylib
*.dll
go/conceptextractor/lib/*.so
go/conceptextractor/lib/*.dylib